
<div class="login-form-section">
    <div ng-controller="FeedBackUser">
        <form name="EditfeedBackUser" novalidate class="form-horizontal">


            <div class="modal-title">
                <h3>Update FeedBack User</h3>
            </div>
            <div class="input-group">
                <input type="text" name="Firstname" ng-model="FirstName" class="form-control " placeholder="FirstName" required />
                <span ng-show="EditfeedBackUser.Firstname.$dirty && EditfeedBackUser.Firstname.$error.required">Required!</span>
            </div>

            <div class="input-group">
                <input type="text" name="Lastname" ng-model="LastName" class="form-control " placeholder="LastName" required />
                <span ng-show="feedBackUser.Lastname.$dirty && feedBackUser.Lastname.$error.required">Required!</span>
            </div>
            <div class="input-group">
                <input type="email" name="uniqueEmail" ng-model="Email" placeholder="Email" class="form-control " required />
            </div>
            <span ng-show="EditfeedBackUser.uniqueEmail.$dirty && EditfeedBackUser.uniqueEmail.$invalid">
                <span ng-show="EditfeedBackUser.uniqueEmail.$error.required">Email is required.</span>
                <span ng-show="EditfeedBackUser.uniqueEmail.$error.Email">Invalid email address.</span>
            </span>
            <span ng-show="message ==='Email Already Exist'">{{message}}</span>
            <div class="input-group">
                <select ng-model="Profession" ng-options="item for item in professionList" class="form-control ">
                    <option value="">Select Profession</option>

                </select>
            </div>
            <input type="button" value="UPdate" ng-click="UpdateFeedBackUser(FirstName,LastName,Email,Profession)" />
            <button ng-click="reset()">RESET</button>
            {{message}}
        </form>
    </div>

</div>
