
@{
    ViewBag.Title = "ForgotPasswordEmail";
}

<h2>ForgotPasswordEmail</h2>
<form name="formPassword" novalidate>
    
    <input type="email" name="formPassword.email" ng-model="formPassword.Email" placeholder="Enter your Email " />
    <input type="button" value="send" ng-click="SubmitEmail(formPassword)" />
</form>