@model Medacs.Areas.Admin.Models.ViewModel.FeedBackViewModel

@{
    ViewBag.Title = "Create";
}

<form name="FeedBack" novalidate>
    <div class="form-horizontal">
        <h4>FeedBack</h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="codesstandalone">Name</label>
            <div class="col-md-10">
                <input type="text" id="Name" name="FeedBackDescription" ng-model="FeedBack.Description" placeholder="Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="codesstandalone">StartDateTime</label>
            <div class="col-md-10">
                <input type="text" id="FeedBackStartDate" name="FeedBackStartDateTime" ng-model="FeedBack.StartDateTime" placeholder="StartDateTime" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="codesstandalone">EndDateTime</label>
            <div class="col-md-10">
                <input type="text" id="FeedBackEndDate" name="FeedBackEndDateTime" ng-model="FeedBack.EndDateTime" placeholder="EndDateTime" />
            </div>
        </div>

        <div class="form-group">
                        <label class="control-label col-md-2" for="codesstandalone">IsOpen</label>
            <div class="col-md-10">
                <input type="checkbox" id="FeedBackIsOpen" name="FeedBackOpen" ng-model="FeedBack.IsOpen" placeholder="IsOpen" />

            </div>
        </div>

               <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="button" class="btn btn-primary" ng-click="AddFeedBack(FeedBack)" id="submit" value="Create FeedBack" class="btn" />
        </div>
    </div>

</form>

<div>
    @Html.ActionLink("Back to List", "List","FeedBack")
</div>
