@model IEnumerable<Medacs.Areas.Admin.Models.ViewModel.FeedBackViewModel>

@{
    ViewBag.Title = "List of FeedBack";
}

<h2>List Of FeedBack</h2>

<p>
  @Html.ActionLink("CreateNew", "CreateFeedBack", "FeedBack", new { area = "Admin" }, null)
</p>
<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
            StartDateTime
                </th>
        <th>
           EndDateTime 
        </th>
        <th>
            IsOpen
                </th>
        <th></th>
    </tr>

    

    <tr ng-repeat=" feedBack in feedBackList">
        <td>
            <a href='/Admin/FeedBack/Edit/{{feedBack.Id}}'>{{feedBack.Description}}</a>
        </td>
        <td>
            {{feedBack.StartDateTime}}
        </td>
        <td>
            {{feedBack.EndDateTime}}
        </td>
        <td>
            {{feedBack.IsOpen}}
        </td>
        <td>
            <a id="FeedBack" data-toggle="modal" href='#EditFeedBack' ng-click="editFeedBack(feedBack)">Edit</a> |</td>
    </tr>


</table>


<div class="modal fade" id="EditFeedBack">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("EditFeedBack");
                }
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->