@model Medacs.Models.CallBackViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordMail</title>
</head>
<body>
    <div>
    
            Please confirm your account by clicking this link: <a href=@Model.CallBackUrl>link</a>

        </div>
</body>
</html>
