@model Medacs.Models.CallBackViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>Thank you for you Registration Please click on the below link and Complete the registration
     
    </div>
    <div>Please confirm your account by clicking this link: <a href= @Model.CallBackUrl>link</a>
</div>
</body>
</html>
