
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create FeedBack","CreateFeedBack","FeedBack", new {area = "Admin" }, null)|
@Html.ActionLink("FeedBack List", "List", "FeedBack", new { area = "Admin" }, null)
