
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordChangeSuccessfull</title>
</head>
<body>
    <div>
        <h3> Your Password have Changed Successfully @Html.ActionLink("ClickHereToLogin","Login","Account")</h3> 
        
    </div>
</body>
</html>
