

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>"Placeholder" SurVey</title>
        
    </head>
    <body>
        <div>
            Colleague questionnaire<br/>
            For Dr <strong> John Mathew</strong>  
        </div>
        <table style="border:1px solid black;">
            <tr>

                <td>Place holder/ For FeedBack Description </td>
            </tr>

        </table>

        
           </body>
</html>